<%= simple_form_for(@disk_usage, html: {class: 'form-horizontal', role: 'form'}) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
