<%= content_for :header do -%>
    <h1>Editing Server
      <span class="actions">
        <%= link_to 'Show', @server, class: 'btn btn-info' %>
      </span>
    </h1>
<%- end -%>



<div class="row">
  <%= render 'form' %>
</div>
