// Import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// Variable definitions
$font-family-base: 'Proxima Nova Regular', sans-serif;
$font-size-base: 15px;
$border-radius-base: 4px;
$list-group-border-radius: 0;

header {
}

main {
  @extend .container;
  padding-left: 30px;
  height: 100%;
  min-height: 100%;
  overflow-y: visible;
  overflow-x: visible;
  box-sizing: border-box;
  position: relative;
}

section {
  @extend .row;
}
